body {
    
    background-color: rgb(196, 190, 190);
}

mystyle1 {
    width: 2px; !important;
    height: 2px; !important;
}

h2 {
    text-align: center;
}

.imagestyle{
    width:16rem;
    height: 16rem;
}

img {
    width: 8rem;
    height:8rem;

}