body {
    
    background-color: rgb(228, 227, 227);
    box-sizing: border-box;
}


mystyle1 {
    width: 2px; !important;
    height: 2px; !important;
}

h2 {
    text-align: center;
}

.imagestyle{
    width:16rem;
    height: 16rem;
    border-radius: 5%;

}

img {
    width: 9rem;
    height:10rem;
    /* border-radius: 5%; */

}
h1 {
    color: rgb(22, 134, 129);
    padding: 30px;
    text-align: center;
}
h5 {
    color: maroon;
}
nav {
    position: fixed;
}
.navcolor {
    background-color: white;
}
.forms {
    background-color: rgb(232, 235, 236);
}

.nav_image {
    width: 50px;
    
}
.buttoncolor {
    background-color: rgb(223, 97, 7);
}